<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head") %>
<body>

    <%-include("./partials/header") %>

    <form method = "POST" action="/login" enctype="multipart/form-data">
      <div class="container">
        <div class="centrado"> <h1>Registro</h1>
        <p>Por favor completa este formulario.</p>
        <hr>
    </div>

        <label for="name"><b>Correo Electronico</b></label>
        <input type="text" placeholder="Ingrese su correo" name="name" id="name" required>


        <label for="email"><b>Correo Electronico</b></label>
        <input type="text" placeholder="Ingrese su correo" name="email" id="email" required>
    
        <label for="psw"><b>Contraseña</b></label>
        <input type="password" placeholder="Ingresar contraseña" name="password" id="password" required>

        <label for="pais">¿En que país resides?</label>
       <select name = "country"
       class= "form-select <%= locals.errors && errors.country ? "is-invalid": null %>">

       <option value = ""> Elegí un país </option>

       <%
          let countries = ["Argentina", "Bolivia", "Brasil", "Colombia", "Chile", "Ecuador", "España", "Paraguay", "Uruguay", "Venezuela"]
        %>
        <% for (const oneCountry of countries) {%>
            <option 
            value= "<%= oneCountry %>"
            <%= locals.oldData && (oneCountry == oldData.country) ? "selected" : null %>
            > <%= oneCountry%> </option>
        <% } %>
       </select>
    
       <% if (locals.errors && error.country) { %>
        <div class="text-danger">
          <%= errors.country.msg %>
        </div>
        <% } %>
        <br>
        <br>


        <label for="image"><b>Selecciona una imagen</b></label>
        <input type="file" placeholder="Ingrese una imgagen del proucto" name="image" id="image">          

        <% if (locals.errors && error.image) { %>
          <div class="text-danger">
            <%= errors.image.msg %>
          </div>
          <% } %>

        <hr>
       
    
        <button type="submit" class="registerbtn">Register</button>
      </div>
      
      <div class="container signin">
        <p>Ya tienes una cuenta? <a href="#">Inicia sesion</a>.</p>
      </div>
    </form>
    <%-include("./partials/footer") %>
</body>
    </html>